server:
  port: 8091
spring:
  datasource:
    #driverClassName: org.h2.Driver
    driverClassName: com.mysql.cj.jdbc.Driver
    #url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    #url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=false
    url: jdbc:mysql://localhost:3306/tutorsme
    username: root
    password: root
  #h2:
    #console:
      #enabled: true
      #path: /h2-console
      #settings:
        #trace: false
        #web-allow-others: false
  jpa:
    #database-platform: org.hibernate.dialect.H2Dialect
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
      #ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        validator:
          apply_to_ddl: false
    show-sql: true

documentation:
  application:
    description: @project.description@
    version: @project.version@

pringdoc:
  # Contract endpoint: http://localhost:8091/v3/api-docs
  api-docs:
    path: /api-docs
  # Documentation endpoint: http://localhost:8091/swagger-ui/index.html
  swagger-ui:
    path: /swagger-ui/index.html